@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-dim-white-);
    overflow-x: hidden;
    overflow-y: scroll;
    height: auto;
}

:root {
    --clr-white- : #fff;
    --clr-dim-white- : #c2c8cc;
    --clr-black- : #000;
    --font-main- : 'cinzel';
    --font-secondary- : 'Lora';
}

/* on scroll page fades in */
.fade-in {
    opacity: 0;
    transition: opacity 350ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}


/* hamburger icon */
#hamburger {
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding-top: 10px;
    padding-right: 15px;
}


.line {
    display: block;
    position: relative;
}

.line,
.line::before {
    width: 2.4em;
    height: 1px;
    background-color: var(--clr-black-);
    transition: transform 200ms ease-in-out;
}

.line::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 10px;
}

.nav-open .line {
    transform: rotate(45deg);
}

.nav-open .line::before {
    transform: rotate(90deg) translate(9px);
}

/* wellness by myhra logo */
.logo {
    font-style: normal;
    font-family: var(--font-main-);
    font-size: clamp(1.15rem,2.5vw,2.5rem);
}

/* logo and hamburger alignment */
.logoburger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--clr-black-);
    width: 90vw;
    margin: 20px auto;
    z-index: 21;
}

.nav-open {
    display: flex;
    flex-direction: column;
    height: 120vh;
    width: 100vw;
    background-color: var(--clr-dim-white-);
    position: absolute;
}

.bg-cover {
    width: 10px;
    height: 10px;
    background-color: transparent;
    position: fixed;
    right: 0;
    z-index: 20;
}

.nav-open .bg-cover {
    transform: scale(150);
    background-color: var(--clr-dim-white-);
}

.nav-open .mobile-hidden{
    display: block;
}

.nav-open #mobile-logo a {
    color: var(--clr-black-);
}

.nav-open .line,
.nav-open .line::before {
    background-color: var(--clr-black-);
}

.nav-open .nav-links {
    z-index: 21;
    margin-top: 20px;
}

.nav-open .nav-links li{
    list-style: none;
    padding: 5.5px;
}

.nav-open .nav-links li a {
    color: var(--clr-black-);
    text-decoration: none;
    font-size: 2.25rem;
    padding-left: 25px;
    font-family: var(--font-secondary-);
}

.nav-open #mobile-login {
    font-size: 2rem;
    color: var(--clr-black-);
    text-decoration: none;
    padding-left: 30px;
    padding-top: 20px;
    font-family: var(--font-secondary-);
    z-index: 21;
}

.nav-open #mobile-nav-socials {
    display: flex;
    width: 150px;
    justify-content: space-evenly;
    margin-top: 75px;
    margin-left: 7px;
    z-index: 21;
}

.nav-open #mobile-nav-socials li {
    list-style: none;
    font-size: 1.5rem;
}

.nav-open #mobile-nav-socials li a {
    color: var(--clr-black-);
}

.nav-open #mobile-nav-btn {
    width: 200px;
    padding: 1rem 2rem;
    font-family: var(--font-secondary-);
    background-color: black;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    margin: 50px 0 30px 25px;
    z-index: 21;
}

.nav-open #mobile-nav-btn a {
    color: var(--clr-dim-white-);
    text-decoration: none;
}

#desktop-nav {
    display: flex;
    justify-content: space-evenly;
    width: 90vw;
    margin: 0 auto;
    margin-top: 30px;
}

#desktop-logo-links {
    display: flex;
    flex-direction: column;
    width: 45vw;
    margin: 0 auto;
}

#desktop-nav-links {
    display: flex;
    width: 45vw;
    justify-content: space-evenly;
    padding: 20px;
    position: relative;
    right: -35px;
}

#desktop-nav-links li {
    list-style: none;
    font-size: 1.2rem;
}

#fifth-child {
    border-bottom: 1.5px solid var(--clr-black-);
}

#desktop-nav-links li a {
    text-decoration: none;
    color: var(--clr-black-);
}

#dropdown-content {
    display: none;
}

#dropdown:hover > #dropdown-content {
    display: block;
    position: absolute;
    padding-top: 14px;
} 

#dropdown-content li {
    border: none;
}

#desktop-logo {
    text-align: center;
    width: 48vw;
    position: relative;
    right: -20px;
}

#desktop-logo a {
    text-decoration: none;
    color: var(--clr-black-);
}

#desktop-nav-socials {
    display: flex;
    width: 9%;
    justify-content: space-between;
    padding-top: 30px;
}

#desktop-nav-socials li {
    list-style: none;
}

#desktop-nav-socials li a {
    color: var(--clr-black-);
}

#desktop-nav-btn {
    padding: .9rem 1.5rem;
    font-family: var(--font-secondary-);
    background-color: black;
    border: none;
    margin-top: 20px;
    font-size: .9rem;
}

#desktop-nav-btn a {
    color: var(--clr-dim-white-);
    text-decoration: none;
}

#desktop-login {
    color: var(--clr-black-);
    text-decoration: none;
    padding-right: 10px;
    font-size: 1.1rem;
    padding-top: 20px;
}

#contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 40vw;
    margin-top: 100px;
}

.name {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#first-name {
    display: flex;
    flex-direction: column;
    width: 19.5vw;
}

#last-name {
    display: flex;
    flex-direction: column;
    width: 19.5vw;
}

#name {
    padding: .75rem 10px;
    margin: 10px 0;
}

#name-title {
    font-size: 1.2rem;
}

#contact-email,
#subject {  
    padding: .75rem 10px;
    margin-top: 10px;
    border: none;
    width: 40vw;
}

#text {
    width: 40vw;
    height: 100px;
    padding: .6rem 10px;
    margin-top: 10px;
    border: none;
}

.name,
.contact-email,
.subject,
.message {
    margin-bottom: 40px;
}

.contact-email label,
.subject label,
.message label {
    font-size: 1.2rem;
}

#contact-email:focus,
#subject:focus,
#text:focus,
#name:focus {
    outline: 2px solid black;
    outline-offset: 3px;
}

#contact-info h1{
    font-family: var(--font-main-);
    font-weight: 500;
    font-size: clamp(1.7rem, 3vw, 3rem);
    width: 300px;
}

#contact-info p{
    font-family: var(--font-secondary-);
    padding: 40px 0;
    line-height: 1.8;
    width: 23vw;
    font-size: 1.05rem;
}

#contact-info p > span {
    border-bottom: 1.5px solid var(--clr-black-);
}

#contact {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 90vw;
    margin: 60px auto;
}

#contact-info {
    width: 30vw;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#checkbox-title {
    padding: 30px 0 10px 0;
    font-family: var(--font-secondary-);
}

.checkbox-item {
    padding: 7px 0;
} 

.checkbox-item input {
    margin-right: 5px;
}

#checkbox {
    margin-bottom: 30px;
}

#contact-submit-btn {
    font-size: clamp(.9rem, 1.5vw, 1.1rem);
    padding: 1.75rem 2.3rem;
    color: var(--clr-dim-white-);
    background-color: var(--clr-black-);
    border: none;
    font-family: var(--font-secondary-);
    cursor: pointer;
}

#contact-submit-btn:hover {
    background-color:rgb(41, 40, 40);
}






/* footer */
footer {
    background-color: #c2c8cc;
    height: auto;
    margin-top: 90px;
}

#ftr-title {
    text-align: center;
    font-family: var(--font-main-);
    font-weight: 500;
    padding: 40px 0;
    font-size: clamp(1.4rem, 2.5vw, 2.5rem);
}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

#email {
    border: none;
    padding: 1.5rem 7rem 1.5rem 1.5rem;
    position: relative;
    left: -.5rem;
}

#email::placeholder {
    color: rgb(184, 184, 184);
    font-family: var(--font-secondary-);
    font-size: 1rem;
}

#email:focus {
    outline: 2px solid var(--clr-black-);
    outline-offset: 5px;
}

#form-btn {
    color: #c2c8cc;
    background-color: var(--clr-black-);
    font-family: var(--font-secondary-);
    border: none;
    padding: 1.35rem 1.75rem;
    font-size: 1rem;
}

#form-btn:hover {
    cursor: pointer;
    background-color: rgb(43, 42, 42);
}





/* mobiie */
@media (max-width: 800px) {
    #desktop-nav {
        display: none;
    }
    .mobile-hidden {
        display: none;
    }
    #mobile-logo a {
        color: var(--clr-black-);
        text-decoration: none;
    }

    #contact {
        width: 84vw;
        margin: 0 auto;
        flex-direction: column;
    }

    #contact-info {
        align-items: flex-start;
        margin-top: 50px;
    }

    #contact-form {
        align-items: flex-start;
        margin-top: 20px;
    }

    #first-name,
    #last-name {
        width: 41vw;
    }

    #subject,
    #contact-email,
    #text {
        width: 84vw;
    }

    #contact-info p {
        width: 84vw;
    }

    #contact-info {
        padding-left: 0;
    }

    footer {
        margin-top: 50px;
    }

    #form {
        flex-direction: column;
        padding-bottom: 70px;
    }
    #form-btn {
        margin-top: 30px;
    }
}

/* desktop */
@media (min-width: 800px) {
    #mobile-nav {
        display: none;
    }
    #hamburger {
        display: none;
    }
}