@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --clr-white- : #fff;
    --clr-dim-white- : #c2c8cc;
    --clr-black- : #000;
    --font-main- : 'cinzel';
    --font-secondary- : 'Lora';
}

body {
    background-color: #3d4435;
    overflow-x: hidden;
    overflow-y: scroll;
    height: auto;
}

/* hamburger icon */
#hamburger {
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding-top: 10px;
}


.line {
    display: block;
    position: relative;
}

.line,
.line::before {
    width: 2.4em;
    height: 1px;
    background-color:var(--clr-white-);
    transition: transform 200ms ease-in-out;
}

.line::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 10px;
}

.nav-open .line {
    transform: rotate(45deg);
}

.nav-open .line::before {
    transform: rotate(90deg) translate(9px);
}

/* wellness by myhra logo */
.logo {
    font-style: normal;
    font-family: var(--font-main-);
    font-size: clamp(1.15rem,2.5vw,2.5rem);
}

/* logo and hamburger alignment */
.logoburger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--clr-dim-white-);
    width: 90vw;
    margin: 20px auto;
    z-index: 21;
}

.nav-open {
    display: flex;
    flex-direction: column;
    height: 120vh;
    width: 100vw;
    background-color: #c2c8cc;
    position: absolute;
}

.bg-cover {
    width: 10px;
    height: 10px;
    background-color: transparent;
    position: fixed;
    right: 0;
    z-index: 20;
}

.nav-open .bg-cover {
    transform: scale(150);
    background-color: #c2c8cc;
}

.nav-open .mobile-hidden{
    display: block;
}

.nav-open #mobile-logo a {
    color: var(--clr-black-);
}

.nav-open .line,
.nav-open .line::before {
    background-color: var(--clr-black-);
}

.nav-open .nav-links {
    z-index: 21;
    margin-top: 20px;
}

.nav-open .nav-links li{
    list-style: none;
    padding: 5.5px;
}

.nav-open .nav-links li a {
    color: var(--clr-black-);
    text-decoration: none;
    font-size: 2.25rem;
    padding-left: 25px;
    font-family: var(--font-secondary-);
}

.nav-open #mobile-login {
    font-size: 2rem;
    color: var(--clr-black-);
    text-decoration: none;
    padding-left: 30px;
    padding-top: 20px;
    font-family: var(--font-secondary-);
    z-index: 21;
}

.nav-open #mobile-nav-socials {
    display: flex;
    width: 150px;
    justify-content: space-evenly;
    margin-top: 75px;
    margin-left: 7px;
    z-index: 21;
}

.nav-open #mobile-nav-socials li {
    list-style: none;
    font-size: 1.5rem;
}

.nav-open #mobile-nav-socials li a {
    color: var(--clr-black-);
}

.nav-open #mobile-nav-btn {
    width: 200px;
    padding: 1rem 2rem;
    font-family: var(--font-secondary-);
    background-color: var(--clr-black-);
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    margin: 50px 0 30px 25px;
    z-index: 21;
}

.nav-open #mobile-nav-btn a {
    color: var(--clr-dim-white-);
    text-decoration: none;
}

#title {
    color: var(--clr-dim-white-);
    font-size: 1rem;
    font-family: var(--font-main-);
    font-weight: 300;
    display: block;
    width: 250px;
    margin: 0 auto;
    padding: 36px 0 20px 0;
}

#sub-title {
    color: var(--clr-dim-white-);
    font-family: var(--font-main-);
    font-weight: 300;
    display: block;
    width: 290px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0 30px 0;
    font-size: clamp(1.5rem, 3vw, 3rem);
}

.img-container {
    width: 100vw;
    height: 90vh;
    margin-bottom: 2.5rem;
}

.main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#desktop-nav {
    display: flex;
    justify-content: space-evenly;
    width: 90vw;
    margin: 0 auto;
    margin-top: 30px;
}

#desktop-logo-links {
    display: flex;
    flex-direction: column;
    width: 45vw;
    margin: 0 auto;
}

#desktop-nav-links {
    display: flex;
    width: 45vw;
    justify-content: space-evenly;
    padding: 20px;
    position: relative;
    right: -35px;
}

#desktop-nav-links li {
    list-style: none;
    font-size: 1.2rem;
}

#desktop-nav-links li a {
    text-decoration: none;
    color: var(--clr-dim-white-);
}

#dropdown-content {
    display: none;
}

#dropdown:hover > #dropdown-content {
    display: block;
    position: absolute;
    padding-top: 12px;
} 

#desktop-logo {
    text-align: center;
    width: 48vw;
    color: var(--clr-dim-white-);
    position: relative;
    right: -20px;
}

#desktop-nav-socials {
    display: flex;
    width: 9%;
    justify-content: space-between;
    padding-top: 30px;
}

#desktop-nav-socials li {
    list-style: none;
}

#desktop-nav-socials li a {
    color: var(--clr-dim-white-);
}

#desktop-nav-btn {
    padding: .9rem 1.5rem;
    font-family: var(--font-secondary-);
    background-color: #c2c8cc;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

#desktop-nav-btn a {
    color: var(--clr-black-);
    text-decoration: none;
}

#desktop-login {
    color: #c2c8cc;
    text-decoration: none;
    padding-right: 10px;
    font-size: 1.1rem;
    padding-top: 20px;
}

/* main content */

/* work with me section */
#work-title {
    color: var(--clr-dim-white-);
    font-family: var(--font-main-);
    text-align: center;
    font-weight: 500;
    font-size: clamp(1.1rem, 2.5vw, 2.5rem);
}

.work-options {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin: 0 auto;
    margin-top: 80px;
    padding-bottom: 100px;
    border-bottom: 1.5px solid var(--clr-dim-white-);
}

.option {
    width: 27vw;
    margin: 20px 0;
    text-align: center;
}

.option h3 {
    color: var(--clr-dim-white-);
    font-family: var(--font-main-);
    font-weight: 500;
    text-align: center;
    font-size: clamp(1.2rem, 2.25vw, 2.25rem);
}

.option p {
    color: var(--clr-white-);
    padding: 30px 0;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    line-height: 1.5;
}

.option button {
    padding: 1rem 1.75rem;
    background-color: #c2c8cc;
    border: none;
    font-family: var(--font-secondary-);
}

.option button a{
    color: var(--clr-black-);
}

/* nutrition seciton */
#nutrition-guidance,
#coaching-mini-title {
    color: var(--clr-dim-white-);
    font-family: var(--font-main-);
    font-weight: 500;
    font-size: 1rem;
    width: 100px;
    padding: 30px 0;
}

.nutrition-sec {
    display: flex;
    width: 90vw;
    margin: 0 auto;
    justify-content: space-between;
    border-bottom: 1.5px solid var(--clr-dim-white-);
    padding-bottom: 125px;
}


#nutrition-blocks {
    display: flex;
}

#nutrition-col-2 {
    width: 50%;
}

#nutrition-col-2 h3,
.coaching-col-2 h3 {
    color: var(--clr-dim-white-);
    font-family: var(--font-main-);
    font-weight: 500;
    padding: 30px 0;
    font-size: clamp(1.2rem, 2.25vw, 2.25rem);
}

.nutrition-text h4 {
    color: var(--clr-dim-white-);
    font-family: var(--font-main-);
    font-weight: 500;
    padding: 60px 0 30px 0;
}

.nutrition-text p {
    color: var(--clr-white-);
    width: 90%;
    font-size: clamp(.8rem, .85rem, 1.5rem);
    line-height: 1.7;
    margin-bottom: 20px;
}

.nutrition-link a{
    color: var(--clr-dim-white-);
    font-size: 1rem;
}

#nutrition-img {
    width: 21vw;
}

/* coachinng section */
.coaching-sec {
    display: flex;
    width: 90vw;
    justify-content: space-between;
    margin: 0 auto;
    border-bottom: 1.5px solid var(--clr-dim-white-);
    padding-bottom: 100px;
}

#coaching-img {
    width: 21vw;
}

.coaching-col-2 {
    width: 50%;
}

.coaching-col-2 p {
    color: var(--clr-white-);
    font-size: clamp(1rem, 1.5vw, 1.75rem);
    line-height: 1.7;
    margin-top: 60px;
}

.coaching-col-2 button {
    background-color: #c2c8cc;
    border: none;
    font-family: var(--font-secondary-);
    padding: 1.25rem;
    width: 200px;
    margin-top: 30px;
    font-weight: 500;
    transition: ease-in-out 150ms;
}

.coaching-col-2 button:hover {
    background-color: #9ea2a5;
    cursor: pointer;
}

/* recipe section */
.recipes {
    width: 90vw;
    height: 100%;
    margin: 0 auto;
}

.recipe-images {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.recipe-img  > img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.recipes h4 {
    padding: 40px 0;
    color: var(--clr-dim-white-);
    font-family: var(--font-main-);
    font-weight: 500;
}

.recipe-img > h5 {
    color: var(--clr-white-);
    font-family: var(--font-secondary-);
    font-size: clamp(.8rem,.95rem,1rem);
    padding-top: 10px;
}

/* footer */
footer {
    background-color: #c2c8cc;
    height: auto;
    margin-top: 100px;
}

#ftr-title {
    text-align: center;
    font-family: var(--font-main-);
    font-weight: 500;
    padding: 40px 0;
    font-size: clamp(1.4rem, 2.5vw, 2.5rem);
}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

#email {
    border: none;
    padding: 1.5rem 7rem 1.5rem 1.5rem;
    position: relative;
    left: -.5rem;
}

#email::placeholder {
    color: rgb(184, 184, 184);
    font-family: var(--font-secondary-);
    font-size: 1rem;
}

#email:focus {
    outline: 2px solid var(--clr-black-);
    outline-offset: 5px;
}

#form-btn {
    color: #c2c8cc;
    background-color: var(--clr-black-);
    font-family: var(--font-secondary-);
    border: none;
    padding: 1.35rem 1.75rem;
    font-size: 1rem;
}

#form-btn:hover {
    cursor: pointer;
    background-color: rgb(43, 42, 42);
}

/* on scroll content fade in */
.fade-in {
    opacity: 0;
    transition: opacity 350ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}


/* mobiie media query */
@media (max-width: 800px) {
    #desktop-nav {
        display: none;
    }
    .mobile-hidden {
        display: none;
    }
    #mobile-logo a {
        color: var(--clr-white-);
        text-decoration: none;
    }
    .work-options {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .option {
        width: 80vw;
        text-align: center;
    }

    .work-options {
        margin-top: 15px;
        padding-bottom: 60px;
    }
    .nutrition-sec {
        flex-direction: column;
        padding-bottom: 70px;
        width: 84vw;
    }
    #nutrition-blocks {
        flex-direction: column;
    }
    #nutrition-img {
        display: block;
        width: 84vw;
        margin: 0 auto;
    }
    #nutrition-col-2 {
        width: 84vw;
        margin: 0 auto;
    }
    .nutrition-text h4 {
        padding: 0 0 30px 0;
    }

    .coaching-sec {
        flex-direction: column;
        width: 84vw;
        padding-bottom: 40px;
    }

    #coaching-img,
    .coaching-col-2 h3,
    .coaching-col-2 p {
        width: 84vw;
        margin: 0 auto;
        display: block;
    }

    .recipes {
        height: 100%;

    }

    .recipes h4 {
        position: relative;
        left: 20px;
    }

    .recipe-images {
        display: none;
    }

    .carousel {
        width: 90vw;
        margin: 0 auto;
        position: relative;
    }

    .track {
        display: flex;
        justify-content: center;
        width: 90vw;
        margin: 0 auto;
    }

    .carousel__actions {
        position: absolute;
        top: -35px;
        right: 25px;
    }

    #carousel__btn-next,
    #carousel__btn-prev {
        border: none;
        background-color: transparent;
        color: var(--clr-white-);
        margin: 10px;
        font-size: 1.25rem;
        cursor: pointer;
    }

    .carousel__item {
        display: none;
    }

    .carousel__content > img {
        width: 100%;
        height: auto;
        max-width: 40vw;
        padding: 10px;
    }
/* carousel fade in */
    .carousel__item-visible {
        display: flex;
        animation: fadeVisibility 750ms;
    }

    @keyframes fadeVisibility {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
            transform: opacity linear;
        }
    }

    .carousel__content > h5 {
        color: var(--clr-white-);
        padding-top: 15px;
        padding-left: 15px;
        font-size: 1rem;
        font-family: var(--font-secondary-);
        width: 150px;
    }

    #form {
        flex-direction: column;
        padding-bottom: 70px;
    }
    #form-btn {
        margin-top: 30px;
    }
}

/* desktop */
@media (min-width: 800px) {
    #mobile-nav {
        display: none;
    }
    #hamburger {
        display: none;
    }
    #sub-title {
        width: 35vw;
    }
    .carousel {
        display: none;
    }
}